@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

html, body{
  margin:0;
  padding:0;
}

.App{
  height:100vh;
  width:100vw;
  font-family:'Teko';
  color:white;
  font-size:50px;
  display:flex;
  align-content:flex-start;
  flex-wrap:wrap;

  background-image:url('https://media.giphy.com/media/3oz8xBvY5MyxIdyuxa/source.gif');
  background-position: center;
  background-size:cover;

}

.title-row{
  width:100%;
}
.title{
  display:inline-block;
  padding:0.5em;

}

.title:hover{
  color:yellow;
}

.start-game{
  width:100%;
  height:60%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  align-content: center;

}
.enter-name-label{
  width:100%;
  text-align:center;
}

.name-form{
  text-align:center;
}

.name-input{
  font-family:'Teko';
  height:1.5em;
  font-size:50px;
  outline:none;
  text-align:center;
  opacity:0.7;
}

.start-game-btn-row{
  display:flex;
  justify-content: center;
  width:100%;
}
.start-game-btn{
  display:inline-block;
  text-align:center;
}

.start-game-btn:hover{
  color:yellow;
}

.fadeOut{
  animation: fadeOut 4s linear forwards;
}

@keyframes fadeOut{
  0% {opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:0;}
}

.arrange-board{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
  background-color: grey;
  justify-content: center;
  text-align: center;
  padding:4vh;
}

.place-carriers-label{
  width:100%;
}

.change-orientation{
  border: solid white 2px;
  padding-left: 0.2em;
  padding-right:0.2em;
  font-size:35px;
  margin-bottom:0.2em;
}

.change-orientation:hover{
  color:yellow;
}

.gameboard-container{
  width:100%;
}

.gameboard{
  display:grid;
  justify-content:center;
  align-self: center;
  grid-template-columns:repeat(10,6.4vh);
  grid-template-rows:repeat(10,6.4vh);
}

.grid-element{
  min-height:6vh;
  min-width:6vh;
  margin:0.2vh;
  border: solid black 1px;
}

.highlight{
  background-color:white;
}